[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/impact-evaluator"]
	path = lib/impact-evaluator
	url = https://github.com/Meridian-IE/impact-evaluator.git
